<div class="toolbar">
  <button (click)="execCommand('bold')"><b>B</b></button>
  <button (click)="execCommand('italic')"><i>I</i></button>
  <button (click)="execCommand('underline')"><u>U</u></button>
  <button (click)="execCommand('strikeThrough')"><s>S</s></button>
  <button (click)="execCommand('insertOrderedList')">OL</button>
  <button (click)="execCommand('insertUnorderedList')">UL</button>
  <select [(ngModel)]="selectedFont" (change)="changeFont()">
    <option *ngFor="let font of fonts" [value]="font">{{ font }}</option>
  </select>

  <button (click)="execCommand('justifyLeft')">⬅ Justify-Left</button>
  <button (click)="execCommand('justifyCenter')">⬆ Justify-Center</button>
  <button (click)="execCommand('justifyRight')">➡ Justify-Right</button>
  <button (click)="execCommand('justifyFull')">↔ Justify</button>
  <div>
    <label>&nbsp;Rows:&nbsp;</label>
    <input type="number" [(ngModel)]="rows" min="1" max="10" />

    <label>&nbsp;Columns:&nbsp;</label>
    <input type="number" [(ngModel)]="cols" min="1" max="10" />

    <button (click)="insertTable()">Insert Table</button>
  </div>
  <button (click)="execCommand('createLink')">🔗</button>
  <button (click)="execCommand('insertImage')">🖼</button>
  <button (click)="undo()">⏪ Undo</button>
  <button (click)="redo()">⏩ Redo</button>
</div>

<div class="editor" contenteditable="true" #editor></div>

<button (click)="saveContent()">💾 Save</button>
  <button (click)="loadContent()">📂 Load</button>
  <button (click)="saveAsWord()">📄 Save as Word</button>
<router-outlet />